/* header */
.header{

}
.header-menu{
  width: 1200px;
  margin: 0 auto;
}
.header .logo{

}
.header .city-picker{
  margin-right: 30px;
}
.header .page{
  margin-right: 60px;
}
.header .signIn-signUp{
  margin-right: 60px;
}
/* content*/

/* 导航栏 */
.content{

}
.slick-trick{
  height: 400px;
  width: 100%;
  background-image: url("https://pic.maizuo.com/manager/5a5d2507461a3290fa6ced2772f68430.png!/quality/60");
  background-size: cover;
}
/* footer  start*/
.footer{
  text-align: center;
  height: 150px;
}
.footer h2,.server,.follow{
  display: inline-block;
  float: left;
}
.footer h2{
  font-size: 18px;
  margin-left: 160px;
}
.footer .server{
  margin-left: 80px;
}
.footer .server .mobile{
  font-size: 22px;
  font-weight: bold;
}
.footer .follow{
  margin-left: 80px;
}
.footer .copyright::before{
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.footer .copyright li{
  display: inline-block;
  padding: 20px;
}
.footer .copyright li::after{
  display: inline-block;
  width: 11px;
  height: 10px;
  background: #EEEEEE;
}
/* footer  end*/

