$px: 1rem/20
#header
  color: #999
  z-index: 500
  width: 100%
  height: 60*$px
  line-height: 60*$px
  .header-wrapper
    background: #282828
  a
    display: inline-block
  .go-menu,.go-mine
    width: 58*$px
    text-align: center
    height: 60*$px
  .go-menu
    border-right: 1px solid #222
    box-shadow: 1px 0 1px #363636
  .title
    width: 274*$px
    font-size: 16*$px
    display: inline-block
    color: #fffaeb
    padding: 0 13*$px
  .go-mine,.go-city
    float: right
