$px: 1rem/20
#home
  background-color: #fff
  .now-playing
    padding-top: 35*$px
    width: 1200*$px
    margin: 0 auto
    .now-playing-header
      border-bottom: 1px solid #ccc
      span
        font-size: 24px
      p
        float: right
        display: inline-block
        font-size: 14px
        color: #b2b2b2
        margin: 14*$px 0
        a
          color: #ff6640

